/* Site Layout */
html{
  width:100%;
}
body{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding:1ex;
	display:flex;
	flex-direction:column;
}
nav{
	display:flex;
	flex-direction:row;
	justify-content:center;
	a{
		margin:auto;
	}
}
main section{
	display:flex;
	aside{
		order:99;
		width:15ex;
		padding-left:5px;
		display:flex;
		flex-direction:column;
		flex-shrink:0;
		justify-content:flex-start;
	}
	article{
		width:100%;
		flex-shrink:1;
	}
}
form{
	input,select,textarea,label{
		width:100%;
		padding:0px;
		margin:2px 0px;
	}
	label{
		display:block;
	}
	textarea{
		height:12em;
	}
	input[type=submit]{
		display:block;
	}
}

@media  (max-width: 600px) {
	main section{
		flex-direction:column;
		aside{
			order:0;
			width:100%;
			align-items:center;
		}
	}
}