$font-stack: Helvetica, sans-serif;
body{
  font:100% $font-stack;
}
header{
  font:200% $font-stack;
  font-weight:bold;
  text-align:center;
}
h1{
  text-align:center;
  font:175% $font-stack;
}
footer{
  text-align:center;
  font:75% $font-stack;
}
aside{  
  h2{
    font-size:1.2em;
  }
  h3{
    font-size:1em;
  }
}