@import '../application.css';
$body-1: #0C0002;
$body-2: #1b0004;
$body-3: #43000b;
$fore-1: #F7F5D9;
$fore-2: #b2001c;

html{
    width:100%;
    background-color:$body-1;
}
body{
    width:80%;
    min-width:520px;
    color:$fore-2;
    display:flex;
    flex-direction:column;
    margin:auto;
}
header{

    color:$fore-1;
    font-size:3em;
}
nav{
    margin-bottom:auto;
    display:flex;
    a{
	margin:0px 4px;
    }
    .account{
	display:inline-block;
	margin-left:auto;
    }
}
main{
    color:$fore-1;
    background-color:$body-3;
    border-left:5px solid $body-2;
    display:flex;
    padding:1em;
    aside{
	width:200px;
	order:2;
	flex:3;
	display:flex;
	flex-direction:column;
	align-items:center;
    }
    section{
	order:1;
	flex:7;
    }
}
footer{
    margin-top:5px;
    p{
	margin:0;
	font-size:0.75em;
    }
}
h1{
    margin:0px;
}
a{
    color:$fore-2;
    text-decoration:none;
}
a:active, a:hover{
	      color:$fore-1;
	  }
form,.field_with_errors{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    input,textarea,select{
	color:$fore-1;
	background-color:$body-2;
	border:1px solid $body-1;
	margin-bottom:5px;
	width:50%;
    }
    textarea{
	height:20em;
    }
    .fields{
	max-width:80%;
	min-width:500px;
	display:flex;
	align-content:space-around;
	align-items:center;
	input,select{
	    margin-right:auto;
	    min-width:3em;
	    width:auto;
	    max-width:150px;
	}
	label{
	    margin-left:auto;
	    margin-right:2px;
	}
	a{
	    margin:auto;
	}
    }
}
section.flash{
    text-align:center;
}
@media only screen and (max-device-width: 500px) {
    body{
	width:100%;
	min-width:auto;
    }
    a{
	margin:0.5em 0px;
    }
    main{
	flex-direction:column;
	aside{
	    order:0;
	    width:100%;
	    align-items:flex-start;
	    flex-wrap:wrap;
	    flex-direction:row;
	    a{
		margin:auto;
	    }
	}
    }
    form{
	input, select, textarea{
	    width:100%;
	    height:2em;
	}
	textarea{
	    height:10em;
	}
	.fields{
	    width:100%;
	    min-width:0px;
	    flex-wrap:wrap;
	    margin-bottom:1em;
	}
    }
}